@use 'sass:list';
@import '../functions/getMatchedItems';

@mixin reset_table($tags...) {
  $all_tags: table;

  $matched_tags: getMatchedItems($all_tags, $tags);

  @if (list.length($matched_tags) > 0) {
    #{$matched_tags} {
      border-collapse: collapse;
      border-spacing: 0;
    }
  }
}
