@use 'sass:list';
@import '../functions/getMatchedItems';

@mixin reset_images($tags...) {
  $all_tags: img, svg;

  $matched_tags: getMatchedItems($all_tags, $tags);

  @if (list.length($matched_tags) > 0) {
    #{$matched_tags} {
      display: block;
    }
  }
}
