@use 'sass:list';
@import '../functions/getMatchedItems';

@mixin reset_button($tags...) {
  $all_tags: button;

  $matched_tags: getMatchedItems($all_tags, $tags);

  @if (list.length($matched_tags) > 0) {
    #{$matched_tags} {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      font: inherit;
      outline: none;
      padding: 0;
    }
  }
}
