@use 'sass:list';
@import '../functions/getMatchedItems';

@mixin reset_lists($tags...) {
  $all_tags: ol, ul;

  $matched_tags: getMatchedItems($all_tags, $tags);

  @if (list.length($matched_tags) > 0) {
    #{$matched_tags} {
      list-style: none;
    }
  }
}
